@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../../utils/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterRegular';
  src: url('../../utils/fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
}

.container-card{
  display: flex;
  flex-direction: column;
  position: relative;
}

.item-card {
  height: 122px;
  width: 334px;
  padding: 20px;
  border-radius: 12px;
  background-color: #F9F9F9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; 
}

.icon:hover {
  transform: scale(1.5);
}

.item-card:hover + .icon {
  transform: scale(1.5);
}

.item-card h3 {
  font-family: 'PoppinsSemiBold', sans-serif;
  font-size: 18px;
  color: #141414;
}

.item-card p {
  font-family: 'InterRegular', sans-serif;
  font-size: 16px;
  margin: 5px 0;
  color: #141414;
  text-align: left; /* Alinha o texto à esquerda */
}

.icon{
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}