@font-face {
    font-family: "InterMedium";
    src: url("../utils/fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.highcharts-credits{
    display: none !important;
}

.swal2-popup {
    font-family: 'InterMedium';
    color: black;
}

.swal2-popup button{
    font-family: 'InterMedium';
}